# Python Operators Practice Notebook

Each question is followed by its solution in the next code cell.
Difficulty level: Easy to Medium.

## Arithmetic Operators

Q1. Add two numbers a = 10 and b = 5.

In [30]:
# write your answer here
a = 10
b = 5

print(f"the sum of two num. are {a+b}")

the sum of two num. are 15

Q2. Find the remainder when 17 is divided by 4.

In [31]:
# write your answer here
a = 17
b = 4

print(f"the remainder of two num. are {a%b}")

the remainder of two num. are 1

Q3. Calculate 3 raised to the power 4.

In [32]:
# write your answer here
a = 3
b = 4

print(f"the remainder of two num. are {a**b}")

the remainder of two num. are 81

## Assignment Operators

Q4. Assign 10 to x and add 5 to it using assignment operator.

In [33]:
# write your answer here
x = 10
x +=5

print(x)

15

Q5. Assign 20 to y and multiply it by 2 using assignment operator.

In [34]:
# write your answer here
y = 20
y *=2

print(y)

40

Q6. Assign 15 to z and subtract 7 using assignment operator.

In [35]:
# write your answer here
z = 15
z -=7

print(z)

8

## Comparison Operators

Q7. Check if 10 is greater than 5.

In [36]:
# write your answer here
a = 10
b = 5

print(f"compairing the value:{a>b}")

compairing the value:True

Q8. Check if 7 is equal to 9.

In [37]:
# write your answer here
a = 7
b = 9

print(f"compairing the value:{a==b}")

compairing the value:False

Q9. Check if 8 is not equal to 3.

In [38]:
# write your answer here
a =8
b = 3

print(f"compairing the value {a!=b}")

compairing the value True

## Logical Operators

Q10. Check if 5 > 2 and 10 > 3.

In [39]:
# write your answer here
a = 5
b = 2
c = 10
d = 3

print(f"compairing the value {a>b and c>d}")

compairing the value True

Q11. Check if 5 > 10 or 3 < 7.

In [40]:
# write your answer here
a = 5
b = 10
c = 3
d = 7

print(f"compare the value {(5>10) or (3<7)}")

compare the value True

Q12. Use not operator on condition 10 > 5.

In [41]:
# write your answer here
a = 10
b = 5

print(f"compare the value {not(a>b)}")

compare the value False

## Identity Operators

Q16. Check if a and b refer to the same object.
Let a = 10, b = 10.

In [42]:
# write your answer here
a = 10
b = 10

print(f" the object is { a==b}")

 the object is True

Q18. Compare identity of two variables c and d where c = d = 5.

In [43]:
# write your answer here
c = 5
c =  d

print(f"compare the value {c==d}")

compare the value True

## Membership Operators

Q19. Check if 3 is present in the list [1,2,3,4].

In [44]:
# write your answer here
a = {1,2,3,4}

print(f"check the value:{3 in a}")

check the value:True

Q20. Check if 'a' is not present in the string 'python'.

In [45]:
# write your answer here
string = "python"

print(f" check the string: {'a' in string}")

 check the string: False

Q21. Check if 10 is in the tuple (5, 10, 15).

In [46]:
# write your answer here
tuple = (5,10,15)

print(f"check the tuple:{ 10 in tuple } ")

check the tuple:True